body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.main {
  display: flex;
  height: 752px;
  width: 100%;
  background-image: url("img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score{
  width: 318px;
  height: 446px;
  border-radius: 5px;
  background-color: #ddd;
  border: 5px chocolate solid;
  border-radius: 5px;
}
/* sroce */
.score-level {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: auto;
  position: relative;
  
}
.score-level-title{
  position: absolute;
  top: 20;
}
.score-level-chosen {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  width: 80%;
  height: inherit;
  border: 5px chocolate solid;
  border-radius: 5px;
}

.score-achieve {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  width: 80%;
  height: inherit;
  border: 5px chocolate solid;
  border-radius: 5px;
}
/* leaderboard */
.leader-board{
  cursor: zoom-in;
  text-align: center;
  margin-top: 10px;
  padding: 20px 0px;
  width: 318px;
  height: auto;
  background-color: ddd;
  border: 5px chocolate solid;
  border-radius: 5px;
}
.center{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1076px;

}
.start-game {
  cursor: pointer;
  text-align: center;
}
/* .reset-game {
  cursor: pointer;
  text-align: center;
} */
.game-level {
  background: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 30%;
}
.level{
  cursor: pointer;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  width: 200px;
  height: 46px;
}
.start-game {
  margin: 10px;
  font: bold 15px Arial, serif ;
  border: 1px solid rgb(46, 213, 49);;
  border-radius: 5px;
  width: 200px;
  height: 46px;
}
.start-game:hover{
  background-color: rgb(46, 213, 49);
  color: white;
}
.container {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 900px;
  height: 650px;
  align-content: center;
}

.center-play-progress {
  display: flex;
  flex-wrap: nowrap;
  width: 828px;
  height: auto;
}

/* progress bar */
.time-countdown {
  width: 100%;
  height: 48px;
  background-color: chocolate;
}

.my-progress {
  margin-left: 10px;
  border: 2px solid chocolate;
  border-radius: 5px;
  height: auto;
  width: 100%;
  background-color: #ddd;
}

/*  */
[data-view="card"] {
  transform: rotateY(180deg);
  width: 120px;
  height: 180px;
  border: solid 1px #d3cece;
  border-radius: 5px;
  float: left;
  margin: 10px;
  cursor: pointer;
  background: url("img/yugioh.png");
  background-size: 120px 180px;
  background-repeat: no-repeat;
}

.flipped {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(360deg);
}

.correct {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(360deg);
}

.incorrect {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

/* load image for cards */
/* .correct[data-item="csharp"],
.flipped[data-item="csharp"] {
  background: url("img/csharp.png") left center no-repeat #fff;
  background-size: 120px 180px;
  }
.correct[data-item="c"],
.flipped[data-item="c"] {
  background: url("img/cplus.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="java"],
.flipped[data-item="java"] {
  background: url("img/java.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="ruby"],
.flipped[data-item="ruby"] {
  background: url("img/ruby.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="js"],
.flipped[data-item="js"] {
  background: url("img/js.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="php"],
.flipped[data-item="php"] {
  background: url("img/php.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="python"],
.flipped[data-item="python"] {
  background: url("img/python.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="dart"],
.flipped[data-item="dart"] {
  background: url("img/dart.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="reactjs"],
.flipped[data-item="reactjs"] {
  background: url("img/reactjs.png") left center no-repeat #fff;
  background-size: 120px 180px;
}
.correct[data-item="nodejs"],
.flipped[data-item="nodejs"] {
  background: url("img/nodejs.png") left center no-repeat #fff;
  background-size: 120px 180px;
} */



/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#myModal .modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 30%;
  border: solid 1px #d3cece;
  border-radius: 5px;
}

.modal-content p{
  padding: 10px;
  font-size: 30px;
}
/* The Close Button */
.close {
  font-size: 20px;
  float: right;
  border: #ddd solid;
  border-radius: 5px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* modal Leaderboard */

#modalLeaderboard .modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 30%;
  border: solid 1px #d3cece;
  border-radius: 5px;
}
/* radio button */

.level[data-item = 'checked']{
  background-color: blue;
  color: white;
}
.level[data-item = 'unchecked'] {
  background-color: '';
  color: '';
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
      white-space: nowrap;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 15px;
}
table tbody tr:nth-child(odd) {
  background: #e2e2e2;
}

/* nav tab */
#user-nav-tabs {
  display: flex;
  padding-inline-start: 0px;
  list-style: none;
}
#user-nav-tabs li{
  margin: 0px 10px;
  cursor: pointer;
  padding: 15px;
}
.active {
  border: 1px  solid;
  border-radius: 5px;
  padding: 15px;

}

#tabs { margin: 2em; }
#content { margin: 2em; }

#content2,
#content3 { display: none; }

#user-nav-tabs ol {
  padding: 5px;
}

